<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>HeadFirstServletsAndJSPs</display-name>
	
	<!-- Servlets for this Web-app -->
	<servlet>
		<description>
			Chapter 1
		</description>
		<display-name>Chapter1 Servlet</display-name>
		<servlet-name>Chapter1 Servlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch01.Ch1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectBeerServlet</display-name>
		<servlet-name>SelectBeerServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch03.SelectBeerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProvideDownloadServlet</display-name>
		<servlet-name>ProvideDownloadServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch04.ProvideDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendRedirectServlet</display-name>
		<servlet-name>SendRedirectServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch04.SendRedirectServlet</servlet-class>
		<init-param>
			<param-name>myemail</param-name>
			<param-value>shagg2006@gmail.com</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContextParamServlet</display-name>
		<servlet-name>ContextParamServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.ContextParamServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContextListenerServlet</display-name>
		<servlet-name>ContextListenerServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.ContextListenerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HttpSessionBindingListenerServlet</display-name>
		<servlet-name>HttpSessionBindingListenerServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.HttpSessionBindingListenerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FrontServletController</display-name>
		<servlet-name>FrontServletController</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.FrontServletController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>		
		<display-name>InitParameterServlet</display-name>
		<servlet-name>InitParameterServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.InitParameterServlet</servlet-class>
		<init-param>
			<param-name>hostname</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>8080</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletContextAttributeListenerServlet</display-name>
		<servlet-name>ServletContextAttributeListenerServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.ServletContextAttributeListenerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveAdminServlet</display-name>
		<servlet-name>RemoveAdminServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.RemoveAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRequestListenerServlet</display-name>
		<servlet-name>ServletRequestListenerServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.ServletRequestListenerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRequestAttributeListenerServlet</display-name>
		<servlet-name>ServletRequestAttributeListenerServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch05.ServletRequestAttributeListenerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VerifySessionServlet</display-name>
		<servlet-name>VerifySessionServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.VerifySessionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VerifyOldSessions</display-name>
		<servlet-name>VerifyOldSessions</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.VerifyOldSessions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionTrackingURLRewritingServlet</display-name>
		<servlet-name>SessionTrackingURLRewritingServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.SessionTrackingURLRewritingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DisplayJSessionIdServlet</display-name>
		<servlet-name>DisplayJSessionIdServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.DisplayJSessionIdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCookiesServlet</display-name>
		<servlet-name>AddCookiesServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.AddCookiesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewRequestCookiesServlets</display-name>
		<servlet-name>ViewRequestCookiesServlets</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.ViewRequestCookiesServlets</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionCounterServlet</display-name>
		<servlet-name>SessionCounterServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.SessionCounterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HttpSessionAttributeServlet</display-name>
		<servlet-name>HttpSessionAttributeServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.HttpSessionAttributeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DisplayListenerTypesServlet</display-name>
		<servlet-name>DisplayListenerTypesServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.DisplayListenerTypesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShopBooksServlet</display-name>
		<servlet-name>ShopBooksServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.ShopBooksServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewShoppingCartItemsServlet</display-name>
		<servlet-name>ViewShoppingCartItemsServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.ViewShoppingCartItemsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewShoppingCartItemsServlet2</display-name>
		<servlet-name>ViewShoppingCartItemsServlet2</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch06.ViewShoppingCartItemsServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewInitParametersServlet</servlet-name>
		<jsp-file>/jsps/viewinitparams.jsp</jsp-file>
		<init-param>
			<param-name>email</param-name>
			<param-value>shagg2006@gmail.com</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetPersonInfoUsingELServlet</display-name>
		<servlet-name>GetPersonInfoUsingELServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch08.GetPersonInfoUsingELServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetComplexPersonInfoUsingELServlet</display-name>
		<servlet-name>GetComplexPersonInfoUsingELServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch08.GetComplexPersonInfoUsingELServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessComplexPersonInfoServlet</display-name>
		<servlet-name>ProcessComplexPersonInfoServlet</servlet-name>
		<servlet-class>com.saurabh.java.hfsj.ch08.ProcessComplexPersonInfoServlet</servlet-class>
	</servlet>
    <servlet>
        <description/>
        <display-name>GetComplexPersonInfoForELOperatorsServlet</display-name>
        <servlet-name>GetComplexPersonInfoForELOperatorsServlet</servlet-name>
        <servlet-class>com.saurabh.java.hfsj.ch08.GetComplexPersonInfoForELOperatorsServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ProcessingServlet</display-name>
        <servlet-name>ProcessingServlet</servlet-name>
        <servlet-class>com.saurabh.java.hfsj.ch08.ProcessingServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>GenerateSampleDataServlet</display-name>
        <servlet-name>GenerateSampleDataServlet</servlet-name>
        <servlet-class>com.saurabh.java.hfsj.ch08.GenerateSampleDataServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>GetDataFromUserServlet</display-name>
        <servlet-name>GetDataFromUserServlet</servlet-name>
        <servlet-class>com.saurabh.java.hfsj.ch08.GetDataFromUserServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ViewImplicitObjectsInELServlet</display-name>
        <servlet-name>ViewImplicitObjectsInELServlet</servlet-name>
        <servlet-class>com.saurabh.java.hfsj.ch08.ViewImplicitObjectsInELServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GetNameFromUserServlet</display-name>
    	<servlet-name>GetNameFromUserServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch08.GetNameFromUserServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GenerateSampleDataServlet2</display-name>
    	<servlet-name>GenerateSampleDataServlet2</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch09.GenerateSampleDataServlet2</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GetUserInfoViaServlet</display-name>
    	<servlet-name>GetUserInfoViaServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch09.GetUserInfoViaServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DataPreparationServlet</display-name>
    	<servlet-name>DataPreparationServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch09.DataPreparationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GetUserInfoViaServlet2</display-name>
    	<servlet-name>GetUserInfoViaServlet2</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch09.GetUserInfoViaServlet2</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GenerateSampleDataServlet3</display-name>
    	<servlet-name>GenerateSampleDataServlet3</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch10.GenerateSampleDataServlet3</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>URLMappingServletOne</display-name>
    	<servlet-name>URLMappingServletOne</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch11.URLMappingServletOne</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>URLMappingServletTwo</display-name>
    	<servlet-name>URLMappingServletTwo</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch11.URLMappingServletTwo</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>URLMappingServletThree</display-name>
    	<servlet-name>URLMappingServletThree</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch11.URLMappingServletThree</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GenerateSampleURLServlet</display-name>
    	<servlet-name>GenerateSampleURLServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch11.GenerateSampleURLServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RedirectServlet</display-name>
    	<servlet-name>RedirectServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch11.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>URLMappingServletFour</display-name>
    	<servlet-name>URLMappingServletFour</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch11.URLMappingServletFour</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddToDatabaseServlet</display-name>
    	<servlet-name>AddToDatabaseServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch12.AddToDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateDatabaseServlet</display-name>
    	<servlet-name>UpdateDatabaseServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch12.UpdateDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ViewDatabaseServlet</display-name>
    	<servlet-name>ViewDatabaseServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch12.ViewDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GoAndPerformDatabaseActivitiesServlet</display-name>
    	<servlet-name>GoAndPerformDatabaseActivitiesServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch12.GoAndPerformDatabaseActivitiesServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RedirectServlet2</display-name>
    	<servlet-name>RedirectServlet2</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch12.RedirectServlet2</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CheckUserInRoleServlet</display-name>
    	<servlet-name>CheckUserInRoleServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch12.CheckUserInRoleServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GenerateLinksToCheckUserInRoleServlet</display-name>
    	<servlet-name>GenerateLinksToCheckUserInRoleServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch12.GenerateLinksToCheckUserInRoleServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CheckUsageOfSimpleFilterServlet</display-name>
    	<servlet-name>CheckUsageOfSimpleFilterServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch13.CheckUsageOfSimpleFilterServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CheckUserInRoleServlet2</display-name>
    	<servlet-name>CheckUserInRoleServlet2</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch13.CheckUserInRoleServlet2</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CompressResponseServlet</display-name>
    	<servlet-name>CompressResponseServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch13.CompressResponseServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GetUserDataForCompressionViaServlet</display-name>
    	<servlet-name>GetUserDataForCompressionViaServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch13.GetUserDataForCompressionViaServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DisplayTextAreaServlet</display-name>
    	<servlet-name>DisplayTextAreaServlet</servlet-name>
    	<servlet-class>com.saurabh.java.hfsj.ch13.DisplayTextAreaServlet</servlet-class>
    </servlet>
	
	<!-- Session Configurations -->
	<session-config>
		<session-timeout>2</session-timeout>
	</session-config>
	
	<!-- JSP configurations -->
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>false</scripting-invalid>			
		</jsp-property-group>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>		
		</jsp-property-group>
	</jsp-config>
	
	<!-- Filters for this Web-app -->
	<filter>
		<description>
		</description>
		<display-name>CheckUserRequestFilter</display-name>
		<filter-name>CheckUserRequestFilter</filter-name>
		<filter-class>com.saurabh.java.hfsj.ch13.filters.CheckUserRequestFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>CompressResponseFilter</display-name>
		<filter-name>CompressResponseFilter</filter-name>
		<filter-class>com.saurabh.java.hfsj.ch13.filters.CompressResponseFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>CompressionFilter1</display-name>
		<filter-name>CompressionFilter1</filter-name>
		<filter-class>com.saurabh.java.hfsj.ch13.filters.CompressionFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckUserRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompressResponseFilter</filter-name>
		<url-pattern>/CompressResponseServlet</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompressionFilter1</filter-name>
		<url-pattern>/ch13_3/*</url-pattern>
	</filter-mapping>
	
	<!-- Listeners for this Web-app -->
	<listener>
		<listener-class>com.saurabh.java.hfsj.ch05.listeners.AdminUserServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.saurabh.java.hfsj.ch05.listeners.ServletRequestListenerClass</listener-class>
	</listener>
	<listener>
		<listener-class>com.saurabh.java.hfsj.ch05.listeners.AppContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.saurabh.java.hfsj.ch05.listeners.ServletRequestAttributeListenerClass</listener-class>
	</listener>
	<listener>
		<listener-class>com.saurabh.java.hfsj.ch06.listeners.SessionCounter</listener-class>
	</listener>
	<listener>
		<listener-class>com.saurabh.java.hfsj.ch06.listeners.HttpSessionAttributeListenerClass</listener-class>
	</listener>
	
	<!-- Security Constraints -->
	
	<login-config>
		<auth-method>DIGEST</auth-method>
	</login-config>
	<security-role>
		<role-name>Admin</role-name>
	</security-role>
	<security-role>	
		<role-name>Member</role-name>
	</security-role>
	<security-role>	
		<role-name>Guest</role-name>
	</security-role>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ChangeDB</web-resource-name>
			
			<!-- <url-pattern>/*</url-pattern>  -->
			<url-pattern>/AddDB/*</url-pattern>
			<url-pattern>/UpdateDB/*</url-pattern>
			
			<http-method>GET</http-method>
			<http-method>POST</http-method>	
		</web-resource-collection>	
		
		<auth-constraint>
			<role-name>Admin</role-name>
			<role-name>Member</role-name>
		</auth-constraint>
		
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Other</web-resource-name>
		
			<url-pattern>/ch12/*</url-pattern>
			<url-pattern>/ch13/*</url-pattern>
			
			<http-method>GET</http-method>
			<http-method>POST</http-method>	
		</web-resource-collection>	
<!-- 		<web-resource-collection>
			<web-resource-name>Other2</web-resource-name>
			<url-pattern>/ch12/*</url-pattern>
		</web-resource-collection> -->
		<auth-constraint>
			<role-name>Admin</role-name>
			<role-name>Member</role-name>
			<role-name>Guest</role-name>
		</auth-constraint>
		
		<!--  
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
		-->
	</security-constraint>
	
	<security-constraint> <!-- web-resource-collection is mandatory -->
		<web-resource-collection> <!-- web-resource-name,url-pattern is mandatory -->
			<web-resource-name>anv</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
		</auth-constraint>
	</security-constraint>
	
	<!-- Servlet Mappings for this Web-app -->
	<servlet-mapping>
		<servlet-name>Chapter1 Servlet</servlet-name>
		<url-pattern>/Serv1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectBeerServlet</servlet-name>
		<url-pattern>/SelectBeerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProvideDownloadServlet</servlet-name>
		<url-pattern>/ProvideDownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendRedirectServlet</servlet-name>
		<url-pattern>/SendRedirectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContextParamServlet</servlet-name>
		<url-pattern>/ContextParamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContextListenerServlet</servlet-name>
		<url-pattern>/servlet/ContextListenerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpSessionBindingListenerServlet</servlet-name>
		<url-pattern>/listeners/HttpSessionBindingListenerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontServletController</servlet-name>
		<url-pattern>/FrontServletController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitParameterServlet</servlet-name>
		<url-pattern>/servlet/InitParameterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletContextAttributeListenerServlet</servlet-name>
		<url-pattern>/listeners/ServletContextAttributeListenerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveAdminServlet</servlet-name>
		<url-pattern>/ch05/RemoveAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRequestListenerServlet</servlet-name>
		<url-pattern>/ServletRequestListenerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRequestAttributeListenerServlet</servlet-name>
		<url-pattern>/ServletRequestAttributeListenerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifySessionServlet</servlet-name>
		<url-pattern>/ch06/VerifySessionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyOldSessions</servlet-name>
		<url-pattern>/VerifyOldSessions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionTrackingURLRewritingServlet</servlet-name>
		<url-pattern>/URLRewritingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayJSessionIdServlet</servlet-name>
		<url-pattern>/DisplayJSessionIdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCookiesServlet</servlet-name>
		<url-pattern>/AddCookiesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRequestCookiesServlets</servlet-name>
		<url-pattern>/ch06/ViewRequestCookiesServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionCounterServlet</servlet-name>
		<url-pattern>/SessionCounterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpSessionAttributeServlet</servlet-name>
		<url-pattern>/HttpSessionAttributeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayListenerTypesServlet</servlet-name>
		<url-pattern>/ch06_ch05/summary/DisplayListenerTypesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShopBooksServlet</servlet-name>
		<url-pattern>/ShopBooksServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewShoppingCartItemsServlet</servlet-name>
		<url-pattern>/ViewShoppingCartItemsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewShoppingCartItemsServlet2</servlet-name>
		<url-pattern>/ViewShoppingCartItemsServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewInitParametersServlet</servlet-name>
		<url-pattern>/jsps/vip.jspx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPersonInfoUsingELServlet</servlet-name>
		<url-pattern>/ch08/GetPersonInfoUsingELServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetComplexPersonInfoUsingELServlet</servlet-name>
		<url-pattern>/GetComplexPersonInfoUsingELServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessComplexPersonInfoServlet</servlet-name>
		<url-pattern>/ProcessComplexPersonInfoServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComplexPersonInfoForELOperatorsServlet</servlet-name>
        <url-pattern>/ch08/GetComplexPersonInfoForELOperatorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessingServlet</servlet-name>
        <url-pattern>/ProcessingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateSampleDataServlet</servlet-name>
        <url-pattern>/ch08/GenerateSampleDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDataFromUserServlet</servlet-name>
        <url-pattern>/GetDataFromUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImplicitObjectsInELServlet</servlet-name>
        <url-pattern>/ViewImplicitObjectsInELServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetNameFromUserServlet</servlet-name>
    	<url-pattern>/ch08/GetNameFromUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GenerateSampleDataServlet2</servlet-name>
    	<url-pattern>/ch09/GenerateSampleDataServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetUserInfoViaServlet</servlet-name>
    	<url-pattern>/GetUserInfoViaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DataPreparationServlet</servlet-name>
    	<url-pattern>/DataPreparationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetUserInfoViaServlet2</servlet-name>
    	<url-pattern>/GetUserInfoViaServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GenerateSampleDataServlet3</servlet-name>
    	<url-pattern>/ch10/GenerateSampleDataServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>URLMappingServletOne</servlet-name>
    	<url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>URLMappingServletTwo</servlet-name>
    	<url-pattern>/fooStuff/bar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>URLMappingServletThree</servlet-name>
    	<url-pattern>/fooStuff/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GenerateSampleURLServlet</servlet-name>
    	<url-pattern>/ch11/GenerateSampleURLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RedirectServlet</servlet-name>
    	<url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>URLMappingServletFour</servlet-name>
    	<url-pattern>/fooStuff/bar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddToDatabaseServlet</servlet-name>
    	<url-pattern>/AddDB/AddToDatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateDatabaseServlet</servlet-name>
    	<url-pattern>/UpdateDB/UpdateDatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ViewDatabaseServlet</servlet-name>
    	<url-pattern>/ViewDB/ViewDatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GoAndPerformDatabaseActivitiesServlet</servlet-name>
    	<url-pattern>/ch12/GoAndPerformDatabaseActivitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RedirectServlet2</servlet-name>
    	<url-pattern>/RedirectServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CheckUserInRoleServlet</servlet-name>
    	<url-pattern>/ch12/CheckUserInRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GenerateLinksToCheckUserInRoleServlet</servlet-name>
    	<url-pattern>/GenerateLinksToCheckUserInRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CheckUsageOfSimpleFilterServlet</servlet-name>
    	<url-pattern>/ch13/CheckUsageOfSimpleFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CheckUserInRoleServlet2</servlet-name>
    	<url-pattern>/ch13/CheckUserInRoleServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CompressResponseServlet</servlet-name>
    	<url-pattern>/CompressResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetUserDataForCompressionViaServlet</servlet-name>
    	<url-pattern>/ch13/GetUserDataForCompressionViaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DisplayTextAreaServlet</servlet-name>
    	<url-pattern>/ch13_3/DisplayTextAreaServlet</url-pattern>
    </servlet-mapping>
	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsps/showerrors.jsp</location>
	</error-page>
	
	<!-- Context parameters for this Web-app -->
	<context-param>
		<param-name>produciton-mode</param-name>
		<param-value>off</param-value>
	</context-param>
	<context-param>
		<param-name>debug</param-name>
		<param-value>off</param-value>
	</context-param>
		<context-param>
		<param-name>admin-username</param-name>
		<param-value>shagg2006</param-value>
	</context-param>
	<context-param>
		<param-name>admin-privileges</param-name>
		<param-value>rwx</param-value>
	</context-param>
	
	
	<!-- Welcome files for this Web-app -->
	<welcome-file-list>
		<welcome-file>jsps/index.jsp</welcome-file>
	</welcome-file-list>
	
	
</web-app>
